name: Allow GitHub runner workspace for Git safe.directory

on: [push]

jobs:
  record:
    runs-on: git config --global --add safe.directory /github/workspace
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Record and deploy the animation
        uses: cyberbotics/webots-animation-action@master
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
